################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/onplix.Domain/bin/Debug/net10.0
/onplix.Domain/obj/Debug/net10.0
*.cache
*.json
/onplix.Infrastructure/obj/Debug/net10.0/ref
/onplix.Infrastructure/obj/Debug/net10.0
/onplix.Shared/bin/Debug/net10.0
/onplix.Shared/obj/Debug/net10.0
/onplix.Infrastructure/bin/Debug/net10.0
/onplix.Infrastructure/obj
/onplix.Domain/obj
/onplix.Shared/obj
/onplix.Application/bin/Debug/net10.0
/onplix.Application/obj/Debug/net10.0
/onplix.Application/obj
/onplix.Api/bin/Debug/net10.0
/onplix.Api/obj
/.vs/ProjectEvaluation
/.vs/onplix-api.slnx/DesignTimeBuild/.dtbcache.v2
/.vs/onplix-api.slnx/FileContentIndex
/.vs/onplix-api.slnx/config/applicationhost.config
/.vs/onplix-api.slnx/v18/.suo
/.vs/onplix-api.slnx/v18/HierarchyCache.v1.txt
/.vs/onplix-api.slnx/v18/.futdcache.v2
/onplix.Api/onplix.Api.csproj.user
